/* HEADER */

.main-logo{
    width: 45%;
    margin-top: -10px;
    margin-bottom: -30px;
}

.logo-big{
    margin-top: -25px !important;
}

.logo-small{
    margin-top: -25px !important;
}

#quote{
    padding: 0% !important;
    height: 30vh !important;
}

#quote #quote-slider {
    margin-top: 0px !important;
}

.red-text{
    color: #CB0017;
}

#home-parallax-fullwidth{
    height: 70vh;
}

.roman-icon{
    width: 40px;
}

.roman-logo{
    width: 90px;
    margin-bottom: -10px;
}

/* FORMACIÓN */
#formacion {
    padding-top: 80px;
    padding-bottom: 65px;
}

/* CONSULTORIA */
#consultoria {
    padding-top: 80px;
    padding-bottom: 65px;
}

#consultoria .about-text{
    margin-bottom: 2em;
}

.client{
    padding: 75px;
    height: 100px;
    margin-bottom: 3em;
}

/* CHARLAS */
#charlas{
    padding-top: 80px;
    padding-bottom: 65px;

}

/* TEAM */
#our-history{
    padding-top: 60px;
    padding-bottom: 60px;
}

#logo-dark:hover{
    /* opacity: 1; */
}